/* Card.css */

.card {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 12px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 12px;
  background: linear-gradient(-45deg, #f8f3f0 0%, #dde4e7 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #e8e3e0 0%, #ccd6db 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(15px);
}

.heading {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  color: #2c3e50;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover::after {
  filter: blur(20px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: linear-gradient(-45deg, #dcd6d3, #c2cbd1);
  color: #2c3e50;
  border: none;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.2s, background 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
  background: linear-gradient(-45deg, #e3dedb, #b8c2c9);
}
