/* Dishes.css */

.dishes-container {
  width: 100%;
  background: linear-gradient(-45deg, #f4edea, #dfe6e9);
  color: #2c3e50;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}
